<html>
    <body>
        <%- include('../partials/admin-header.ejs') %>
     <%= console.log(productCount,userCount,revenue,orderCount) %>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                <div>
                    
                    <a href="/admin/getSalesReport" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Get Pdf Report</a>
                    <br>
                    <br>
                    <a href="/admin/sales-report-page" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Excel Report</a>
                </div>
               
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>Rs.<%= revenue %></span>
                                <span class="text-sm">
                                    Shipping fees are not included
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%= orderCount   %></span>
                                <span class="text-sm">
                                    Excluding orders in transit
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%= productCount %></span>
                                <span class="text-sm">
                                    In 2 Categories
                                </span>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Users</h6> <span><%= userCount %></span>
                               
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <canvas id="myChart" height="120px"></canvas>
                        </article>
                    </div>
                    
                    <div style="display: none;" id="chart-container">
                        <canvas id="myChartData"   data-monthly="<%= chartData.monthlyData %>" data-daily="<%= chartData.dailyData %>">
                        </canvas>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">New Members</h5>
                                    <div class="new-member-list">
                                        <% for( let i = 0; i < allusers.length; i++ ) { %>
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <div class="d-flex align-items-center">
                                                    <img src="/admin/imgs/people/avatar3.jpg" alt="" class="avatar">
                                                    <div>
                                                        <h6><%= allusers[i].username %></h6>
                                                        <p class="text-muted font-xs">
                                                            <%= allusers[i].email %>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- <a href="#" class="btn btn-xs"><i class="material-icons md-add"></i> Add</a> -->
                                            </div>
                                        <% } %>
                                        
                                        
                                        
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title">Recent activities</h5>
                                    <ul class="verti-timeline list-unstyled font-sm">
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>Today</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Lorem ipsum dolor sit amet consectetur
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list active">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl animation-fade-right"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>17 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Debitis nesciunt voluptatum dicta reprehenderit
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>13 May</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Accusamus voluptatibus voluptas.
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>05 April</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        At vero eos et accusamus et iusto odio dignissi
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event-list">
                                            <div class="event-timeline-dot">
                                                <i class="material-icons md-play_circle_outline font-xxl"></i>
                                            </div>
                                            <div class="media">
                                                <div class="me-3">
                                                    <h6><span>26 Mar</span> <i class="material-icons md-trending_flat text-brand ml-15 d-inline-block"></i></h6>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        Responded to need “Volunteer Activities
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <%= console.log(orderStatus); %>
                    <div >
                        <div class="card mb-4">
                            <article class="card-body">
                                <input type="hidden" id="orderStatus" value="<%= JSON.stringify(orderStatus) %>">
                                <h5 class="card-title">Order Statuses</h5>
                                <canvas id="myChart2" height="217"></canvas>
                            </article>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Marketing Chanel</h5>
                            <span class="text-muted font-xs">Facebook</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 15%">15%</div>
                            </div>
                            <span class="text-muted font-xs">Instagram</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 65%">65% </div>
                            </div>
                            <span class="text-muted font-xs">Google</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 51%"> 51% </div>
                            </div>
                            <span class="text-muted font-xs">Twitter</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                            <span class="text-muted font-xs">Other</span>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" style="width: 80%"> 80%</div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <h4 class="card-title">Latest orders</h4>
                    <div class="row align-items-center">
                        
                        
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <!-- <th scope="col" class="text-center">
                                            <div class="form-check align-middle">
                                                <input class="form-check-input" type="checkbox" id="transactionCheck01">
                                                <label class="form-check-label" for="transactionCheck01"></label>
                                            </div>
                                        </th> -->
                                        <th class="align-middle" scope="col">Order ID</th>
                              
                                        <th class="align-middle" scope="col">Date</th>
                                        <th class="align-middle" scope="col">Total</th>
                                        <th class="align-middle" scope="col">Payment Status</th>
                                        <th class="align-middle" scope="col">Payment Method</th>
                                        <!-- <th class="align-middle" scope="col">View Details</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <%= console.log(allorder); %>
                                    <% for (let i = 0; i < allorder.length; i++) { %>
                                        <tr>
                                          <!-- <td class="text-center">
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" id="transactionCheck02">
                                              <label class="form-check-label" for="transactionCheck02"></label>
                                            </div>
                                          </td> -->
                                          <td><a href="#" class="fw-bold"><%= allorder[i]._id %></a></td>
                                      
                                          <td>
                                            <% const orderDate = new Date(allorder[i].orderDate); %>
                                            <%= orderDate.toLocaleDateString('en-US', { day: 'numeric', month: 'short', year: 'numeric' }) %>
                                          </td>
                                          <td>
                                            Rs.<%= allorder[i].totalAmount %>
                                          </td>
                                          <td>
                                            <% if (allorder[i].paymentStatus === 'paid') { %>
                                              <span class="badge badge-pill badge-soft-success">Paid</span>
                                            <% } else if (allorder[i].paymentStatus === 'pending') { %>
                                              <span class="badge badge-pill badge-soft-warning">Pending</span>
                                            <% } %>
                                          </td>
                                          <td>
                                            <i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= allorder[i].paymentMethod %>
                                          </td>
                                        </tr>
                                      <% } %>
                                      
                                   
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- table-responsive end// -->
                </div>
            </div>
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                       
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/js/vendors/select2.min.js"></script>
    <script src="/admin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin/js/main.js" type="text/javascript"></script>
    <script src="/admin/js/custom-chart.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>