<%- include('../partials/admin-header.ejs') %>
<body>
    
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Orders</h2>
       
                </div>
                <div>
                    <input type="text" placeholder="Search order ID" class="form-control bg-white">
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Payment Method</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <%= console.log(Orders); %>
                            <tbody>
                                <% for (let i = 0; i < Orders.length; i++) { %>
                                  <tr>
                                    <td><%= Orders[i]._id %></td>
                                    <td><b><%= Orders[i].user[0].username %></b></td>
                                    <td><%= Orders[i].paymentMethod %></td>
                                    <td>Rs.<%= Orders[i].totalAmount %></td>
                                    <td>
                                        <% if (Orders[i].orderStatus === 'cancelled') { %>
                                          <span class="badge rounded-pill alert-danger"><%= Orders[i].orderStatus %></span>
                                        <% } else if (Orders[i].orderStatus === 'placed') { %>
                                          <span class="badge rounded-pill alert-success"><%= Orders[i].orderStatus %></span>
                                        <% } else { %>
                                          <span class="badge rounded-pill alert-primary"><%= Orders[i].orderStatus %></span>
                                        <% } %>
                                      </td>
                                      
                                    <td><%= Orders[i].orderDate.toISOString().split('T')[0] %></td>
                                    <td class="text-end">
                                      <a href="/admin/getOneOrderDetail/<%= Orders[i]._id %>" class="btn btn-md rounded font-sm">Detail</a>
                                      <div class="dropdown">
                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                                          <i class="material-icons md-more_horiz"></i>
                                        </a>
                                        <div class="dropdown-menu">
                                          <a class="dropdown-item" href="#">Edit info</a>

                                        </div>
                                      </div> <!-- dropdown //end -->
                                    </td>
                                  </tr>
                                <% } %>
                              </tbody>
                              
                        </table>
                    </div> 
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <%- include('../partials/admin-footer.ejs') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-orders-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:22 GMT -->
</html>