<html>

<body>
    <%- include('../partials/admin-header.ejs') %>
        <section class="content-main">
            <div class="content-header">
                <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
            </div>
            <div class="content-header">

                <h2 class="content-title">Users</h2>
                <!-- <div>
                    <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
                </div> -->

            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input type="text" placeholder="Search..." class="form-control">
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>

                                    <th>Name</th>

                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Status</th>


                                    <th class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let count=1; %>
                                    <% users.forEach(function(user) { %>

                                        <tr>
                                            <td>
                                                <%= count %>
                                            </td>
                                            <td width="40%">
                                                <a href="#" class="itemside">
                                                    <!-- <div class="left">
                                                    <img src="/admin/imgs/people/avatar1.jpg" class="img-sm img-avatar"
                                                        alt="Userpic">
                                                </div> -->
                                                    <div class="info pl-3">
                                                        <h6 class="mb-0 title">
                                                            <%= user.username %>
                                                        </h6>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <div class="info ">
                                                    <h6 class="mb-0 title">
                                                        <%= user.email %>
                                                    </h6>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="info pl-3">
                                                    <h6 class="mb-0 title">
                                                        <%= user.phonenumber %>
                                                    </h6>

                                                </div>
                                            </td>

                                            <td>
                                                <% if (user.isActive) { %>
                                                    <span class="badge rounded-pill alert-success">
                                                        Active
                                                    </span>

                                                    <% }else{ %>
                                                        <span class="badge rounded-pill alert-danger">
                                                            Inactive
                                                        </span>
                                                        <% }%>
                                            </td>

                                            <td class="text-end">
                                                <% if (user.isActive) { %>
                                                    <a href="/admin/blockuser/<%= user._id %>"
                                                        class="btn btn-danger rounded font-sm mt-15 ">block</a>

                                                    <% }else{ %>
                                                        <a href="/admin/unblockuser/<%= user._id %>"
                                                            class="btn btn-info rounded font-sm mt-15 ">unblock</a>
                                                        <% }%>

                                                            <a href="/admin/viewUser/<%= user._id %>"
                                                                class="btn btn-brand rounded font-sm mt-15">View
                                                                details</a>
                                            </td>
                                        </tr>
                                        <% count++; %>
                                            <% }); %>
                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i
                                    class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false"
                        src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
        </main>
        <script src="/admin/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="/admin/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/admin/js/vendors/select2.min.js"></script>
        <script src="/admin/js/vendors/perfect-scrollbar.js"></script>
        <script src="/admin/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/admin/js/main.js" type="text/javascript"></script>

</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-sellers-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:23 GMT -->

</html>