<%- include('../partials/admin-header.ejs') %>

<body>

        <section class="content-main">
            <div class="content-header">
                <a href="javascript:history.back()"><i class="material-icons md-arrow_back"></i> Go back </a>
            </div>
            <div>
                <h2 class="content-title card-title">Product Details</h2>
                
            </div>
            <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-lg flex-grow-0" style="flex-basis:230px">
                          <img src="/uploads/<%= product.productImage[0] %>" alt="product picture">
                          <i class="fas fa-user-circle fa-5x text-secondary"></i>
                        </div>
                        <div class="col-lg">
                          <h3><%= product.productName %></h3>
                          <p>Product_ID: <%= product._id %></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-12 col-lg-6">
                          <article class="box">
                            <p class="mb-0 text-muted">Price</p>
                            <h5 class="text-success">Rs.<%= product.productPrice %></h5>
                            <p class="mb-0 text-muted">Stock Available</p>
                            <h5 class="text-success"><%= product.productQuantity %></h5>
                          </article>
                        </div>
                        <div class="col-md-12 col-lg-6">
                          <article class="box">
                            <p class="mb-0 text-muted">Available Size</p>
                            <h5 class="text-success"><%= product.productSize %></h5>
                            <p class="mb-0 text-muted">Available Color</p>
                            <h5 class="text-success"><%= product.productColor %></h5>
                            <p class="mb-0 text-muted">Brand</p>
                            <h5 class="text-success"><%= product.productBrand %></h5>
                          </article>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 col-xl-3">
                      <h6>Status</h6>
                      <% if (locals.product.productStatus) { %>
                        <span class="text-success">Listed</span>
                      <% } else { %>
                        <span class="text-danger">Unlisted</span>
                      <% } %>
                    </div>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              
           
        </section> <!-- content-main end// -->
        <%- include('../partials/admin-footer.ejs') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-seller-detail.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
</html>