
    <!-- Header Info Begin -->

    <%- include('../shop/layout/user-header.ejs') %>

    <style>
        .single-product-item {
            position: relative;
        }
    
        .favorite-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
        }
    
        .favorite-button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: transparent;
            color: #333333;
            border: 2px solid #333333;
            border-radius: 50%;
            transition: all 0.3s ease;
        }
    
        .favorite-button:hover {
            background-color: #333333;
            color: #ffffff;
            cursor: pointer;
        }
    
        .hover-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            z-index: 1;
        }
    
        .hover-icon a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 50%;
            transition: all 0.3s ease;
        }
    
        .hover-icon a:hover {
            background-color: #ff6600;
            color: #000000;
            cursor: pointer;
        }
    
        .add-to-cart-button:hover {
            color: #000000;
        }
    
        .product-buttons {
            display: flex;
        }
    
        .buy-button {
            background-color: #999999;
            color: #ffffff;
            padding: 5px 10px;
            font-size: 14px;
            border: none;
            border-radius: 3px;
            margin-right: 10px;
            transition: all 0.3s ease;
        }
    
        .buy-button:hover {
            background-color: #ff6600;
            color: #ffffff;
            cursor: pointer;
        }
    
        .add-to-cart-button {
            background-color: transparent;
            color: #ff6600;
            padding: 5px 10px;
            font-size: 14px;
            border: 2px solid #ff6600;
            border-radius: 3px;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


    <div class="header-info col-lg-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="shop/img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="shop/img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="shop/img/icons/sales.png" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->
    

    <!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="shop/img/slider-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2023</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="shop/img/slider-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2023</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider-item set-bg" data-setbg="shop/img/slider-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2023</h1>
                            <h2>Lookbook.</h2>
                            <a href="#" class="primary-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads first">
                            <img src="shop/img/icons/f-delivery.png" alt="">
                            <h4>Free shipping</h4>
                            <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal
                                esuada aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads second">
                            <img src="shop/img/icons/coin.png" alt="">
                            <h4>100% Money back </h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="shop/img/icons/chat.png" alt="">
                            <h4>Online support 24/7</h4>
                            <p>Urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vesti bulum mal esuada
                                aliquet libero viverra cursus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Box -->
        <div class="features-box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-box-item first-box">
                                    <img src="shop/img/f-box-1.jpg" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2023 Party</span>
                                        <h2>Wedding</h2>
                                        <span class="trend-alert">Trend Allert</span>
                                        <a href="#" class="primary-btn">See More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="single-box-item second-box">
                                    <img src="shop/img/f-box-2.jpg" alt="">
                                    <div class="box-text">
                                        <span class="trend-year">2023 Trend</span>
                                        <h2>Casual</h2>
                                        <span class="trend-alert">Bold & Black</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-box-item large-box">
                            <img src="shop/img/f-box-3.jpg" alt="">
                            <div class="box-text">
                                <span class="trend-year">2023 Party</span>
                                <h2>Collection</h2>
                                <div class="trend-alert">Trend Allert</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>Latest Products</h2>
                        </div>
                        <ul class="product-controls">
                            <li data-filter="*">All</li>
                            <li data-filter=".dresses">Formal</li>
                            <li data-filter=".bags">Casual</li>
                            <li data-filter=".shoes">Suits</li>
                            <li data-filter=".accesories">Wedding</li>
                        </ul>
                    </div>
                </div>
            </div>

           

              <div class="row">
                <% for (var i=0; i < allproducts.length; i++) { %>

                    <% if (allproducts[i].productStatus==true) { %>
                        <% if (i%2==0) { %>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="single-product-item">
                                    <figure>
                                        <img src="/uploads/<%= allproducts[i].productImage %>.jpg" alt="">
                                        <div class="favorite-icon">
                                            <a href="#" class="favorite-button"><i class="far fa-heart"></i></a>
                                        </div>
                                        <div class="hover-icon">
                                            <a href="/uploads/<%= allproducts[i].productImage %>.jpg" class="pop-up"><i
                                                    class="fas fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <div class="product-text">
                                        <div class="product-name">
                                            <a href="/viewProduct/<%= allproducts[i]._id %>">
                                                <h4>
                                                    <%= allproducts[i].productName %>
                                                </h4>
                                            </a>
                                            <h6>
                                                <%= allproducts[i].productDescription %>
                                            </h6>
                                        </div>
                                        <h6>
                                            <%= "Rs. " + allproducts[i].productPrice %>
                                        </h6>
                                        <div class="product-buttons">
                                            <a href="#" class="buy-button">Buy Now</a>
                                            <button onclick="AddToCart('<%= allproducts[i]._id %>')" class="add-to-cart-button">Add to Cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- code for if condition is true -->
                            <% } else { %>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="single-product-item">
                                        <figure>
                                            <img src="/uploads/<%= allproducts[i].productImage %>.jpg" alt="">
                                            <div class="favorite-icon">
                                                <a href="#" class="favorite-button"><i class="far fa-heart"></i></a>
                                            </div>
                                            <div class="hover-icon">
                                                <a href="/uploads/<%= allproducts[i].productImage %>.jpg" class="pop-up"><i
                                                        class="fas fa-search"></i></a>
                                            </div>
                                        </figure>
                                        <div class="product-text">
                                            <div class="product-name">
                                                <a href="/viewProduct/<%= allproducts[i]._id %>">
                                                    <h4>
                                                        <%= allproducts[i].productName %>
                                                    </h4>
                                                </a>
                                                <h6>
                                                    <%= allproducts[i].productDescription %>
                                                </h6>
                                            </div>
                                            <h6>
                                                <%= "Rs. " + allproducts[i].productPrice %>
                                            </h6>
                                            <div class="product-buttons">
                                                <a href="#" class="buy-button">Buy Now</a>
                                                
                                                <button onclick="AddToCart('<%= allproducts[i]._id %>')" class="add-to-cart-button">Add to Cart</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- code for if condition is false -->
                                <% } %>

                                    <% } %>


                                        <% } %>
            </div>



               
    </section>
    <!-- Latest Product End -->

    <!-- Lookbok Section Begin -->
    <section class="lookbok-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>2023 <br />#lookbook</h2>
                        </div>
                        <p>Fusce urna quam, euismod sit amet mollis quis, vestibulum quis velit. Vestibulum malesuada
                            aliquet libero viverra cursus. Aliquam erat volutpat. Morbi id dictum quam, ut commodo
                            lorem. In at nisi nec arcu porttitor aliquet vitae at dui. Sed sollicitudin nulla non leo
                            viverra scelerisque. Phasellus facilisis lobortis metus, sit amet viverra lectus finibus ac.
                            Aenean non felis dapibus, placerat libero auctor, ornare ante. Morbi quis ex eleifend,
                            sodales nulla vitae, scelerisque ante. Nunc id vulputate dui. Suspendisse consectetur rutrum
                            metus nec scelerisque. s</p>
                        <a href="#" class="primary-btn look-btn">See More</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic">
                        <img src="shop/img/lookbok.jpg" alt="">
                        <div class="pic-text">fashion</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Lookbok Section End -->

    <!-- Logo Section Begin -->
    <div class="logo-section spad">
        <div class="logo-items owl-carousel">
            <div class="logo-item">
                <img src="shop/img/logos/logo-1.png" alt="">
            </div>
            <div class="logo-item">
                <img src="shop/img/logos/logo-2.png" alt="">
            </div>
            <div class="logo-item">
                <img src="shop/img/logos/logo-3.png" alt="">
            </div>
            <div class="logo-item">
                <img src="shop/img/logos/logo-4.png" alt="">
            </div>
            <div class="logo-item">
                <img src="shop/img/logos/logo-5.png" alt="">
            </div>
        </div>
    </div>
    <!-- Logo Section End -->

    <!-- Footer Section Begin -->
    <%- include('../shop/layout/user-footer.ejs') %>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="shop/js/jquery-3.3.1.min.js"></script>
    <script src="shop/js/bootstrap.min.js"></script>
    <script src="shop/js/jquery.magnific-popup.min.js"></script>
    <script src="shop/js/jquery.slicknav.js"></script>
    <script src="shop/js/owl.carousel.min.js"></script>
    <script src="shop/js/jquery.nice-select.min.js"></script>
    <script src="shop/js/mixitup.min.js"></script>
    <script src="shop/js/main.js"></script>
    <script>
        function AddToCart(productId) {
            $.ajax({
                url:'/addToCart/'+productId,
                method:'get',
                success:(response)=>{
                    if (response.status) {
                        let coubt=$('#cart-count').html()
                        count=parseInt(count)+1
                        $("#cart-count").html(count)
                    }
                },
                error:function(e){
                    console.log(e)
                }

            })
            
        }
    </script>
   



</body>

</html>