<%- include('../shop/layout/user-header.ejs') %>
    <!-- Header Section Begin -->

    <link rel="stylesheet" href="/profile/css/magiczoomplus.css">
    <link rel="stylesheet" href="/shop/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/style.css" type="text/css">
    <link rel="stylesheet" href="/shop/css/bootstrap.min.css" >
    <script src="/profile/js/magiczoomplus.js"></script>


 
    <!-- Header Section Begin -->
    <style>
        #toastr-container > .toast-error {
            background-color: #ebdbdb;
        }
        #toastr-container > .toast-success {
            opacity: 0.9; /* Adjust the opacity value as desired */
            color: green; /* Set the text color to green */
        }
        .not-available-text {
    color: red;
    
}

    </style>
    
      
    
    <div id="toastr-container"></div>

    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="/shop/img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="/shop/img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                    <img src="/shop/img/icons/sales.png" alt="">
                    <p>30% off on dresses. Use code: 30OFF</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->

    <!DOCTYPE html>
    <html class="no-js" lang="en">
    
    
    <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
    <head>
        <meta charset="utf-8">
        <title>Outlooks</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/profile/imgs/theme/favicon.svg">
        <!-- Template CSS -->
        <link rel="stylesheet" href="/profile/css/main.css">
    </head>
    <body>
        <main class="main">
            <div class="page-header breadcrumb-wrap">
                <div class="container">
                    <div class="breadcrumb">
                        <a href="index.html" rel="nofollow">Home</a>
                        <span></span> Fashion
                        <span></span> Abstract Print Patchwork Dress
                    </div>
                </div>
            </div>
            
            <section class="mt-50 mb-50 " >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product-detail accordion-detail">
                                <div class="row mb-50">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-gallery">
                                          
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                               
                                                   
                                                <a href="/uploads/<%=product.productImage%>.jpg"  data-options="zoomMode: magnifier; variableZoom: true" class="MagicZoom"  >
                                                    <img src="/uploads/<%=product.productImage%>.jpg" alt="Product Image">
                                                  </a>
                                             
                                            </div>
                                            <!-- THUMBNAILS -->
                                            
                                        </div>
                                        <!-- End Gallery -->
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                            <h2 class="title-detail"> </h2>
                                            <div class="product-detail-rating">
                                                <div class="pro-details-brand">
                                                    <span> Brands: <a href="shop-grid-right.html"><%=product.productBrand%></a></span>
                                                </div>
                                                <div class="product-rate-cover text-end">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width:90%">
                                                        </div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                                </div>
                                            </div>
                                            <div class="clearfix product-price-cover">
                                                <div class="product-price primary-color float-left">
                                                    <ins><span class="text-brand">Rs. <%=product.productPrice%></span></ins>
                                                    <ins><span class="old-price font-md ml-15">Rs.2000.00</span></ins>
                                                    <span class="save-price  font-md color3 ml-15">25% Off</span>
                                                </div>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                            <div class="short-desc mb-30">
                                                <p><%=product.productDescription%></p>
                                            </div>
                                            <div class="product_sort_info font-xs mb-30">
                                                <ul>
                                                    <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                    <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                    <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                                </ul>
                                            </div>
                                            <div class="attr-detail attr-color mb-15">
                                                <strong class="mr-10">Color</strong>
                                                <ul class="list-filter color-filter">
                                                    <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                    <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                    <li ><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                    <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                    <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                    <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                    <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="attr-detail attr-size">
                                                <strong class="mr-10">Size</strong>
                                                <ul class="list-filter size-filter font-small">
                                                    <li><a href="#">S</a></li>
                                                    <li><a href="#">M</a></li>
                                                    <li><a href="#">L</a></li>
                                                    <li><a href="#">XL</a></li>
                                                    <li><a href="#">XXL</a></li>
                                                </ul>
                                            </div>
                                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                            <div class="detail-extralink">
                                                <% if (product.productQuantity > 0) { %>
                                                    <div class="detail-qty border radius">
                                                        <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                        <span class="qty-val">1</span>
                                                        <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                                    </div>
                                                    <div class="product-extra-link2">
                                                        <button type="submit" class="button button-add-to-cart" onclick="addToCart(event, '<%= product._id %>')">Add to cart</button>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                <% } else { %>
                                                    <div class="product-extra-link2">
                                                        <p class="not-available-text" disabled>Product Not Available</p>
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                                    </div>
                                                    
                                                <% } %>
                                            </div>
                                            
                                            <ul class="product-meta font-xs color-grey">
                                                <% if (product.productQuantity > 0) { %>
                                                    <li>Availability:<span class="in-stock text-success ml-5"><%= product.productQuantity %> Items In Stock</span></li>
                                                <% } else { %>
                                                    <li>Availability:<span class="out-of-stock text-danger ml-5">Out of Stock</span></li>
                                                <% } %>
                                            </ul>
                                        </div>
                                        <!-- Detail Info -->
                                    </div>
                                </div>
                                
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


  
            <!-- Preloader Start -->
      
        <!-- Vendor JS-->
        <script src="/profile/js/vendor/modernizr-3.6.0.min.js"></script>
        <script src="/profile/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/profile/js/vendor/jquery-migrate-3.3.0.min.js"></script>
        <script src="/profile/js/vendor/bootstrap.bundle.min.js"></script>
        <script src="/profile/js/plugins/slick.js"></script>
        <script src="/profile/js/plugins/jquery.syotimer.min.js"></script>
        <script src="/profile/js/plugins/wow.js"></script>
        <script src="/profile/js/plugins/jquery-ui.js"></script>
        <script src="/profile/js/plugins/perfect-scrollbar.js"></script>
        <script src="/profile/js/plugins/magnific-popup.js"></script>
        <script src="/profile/js/plugins/select2.min.js"></script>
        <script src="/profile/js/plugins/waypoints.js"></script>
        <script src="/profile/js/plugins/counterup.js"></script>
        <script src="/profile/js/plugins/jquery.countdown.min.js"></script>
        <script src="/profile/js/plugins/images-loaded.js"></script>
        <script src="/profile/js/plugins/isotope.js"></script>
        <script src="/profile/js/plugins/scrollup.js"></script>
        <script src="/profile/js/plugins/jquery.vticker-min.js"></script>
        <script src="/profile/js/plugins/jquery.theia.sticky.js"></script>
        <!-- Template  JS -->
        <script src="/profile/js/main.js"></script>




        <script>
            function addToCart(event, productId) {
              event.preventDefault();
              $.ajax({
                url: '/addToCart/' + productId,
                method: 'GET',
                success: function(response) {
                  if (response.status) {
                    toastr.success(response.message, '', { "toastClass": "toast-success" });
                  } else {
                    toastr.error(response.message);
                  }
                },
                error: function() {
                  toastr.error('An error occurred while adding the product to cart.');
                }
              });
            }
        </script>
          
    </body>
    
    
    <!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:27:15 GMT -->
    </html>


















    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <div class="newslatter-form">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="#">
                            <input type="text" placeholder="Your email address">
                            <button type="submit">Subscribe to our newsletter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-widget">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>About us</h4>
                            <ul>
                                <li>About Us</li>
                                <li>Community</li>
                                <li>Jobs</li>
                                <li>Shipping</li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Customer Care</h4>
                            <ul>
                                <li>Search</li>
                                <li>Privacy Policy</li>
                                <li>2019 Lookbook</li>
                                <li>Shipping & Delivery</li>
                                <li>Gallery</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Our Services</h4>
                            <ul>
                                <li>Free Shipping</li>
                                <li>Free Returnes</li>
                                <li>Our Franchising</li>
                                <li>Terms and conditions</li>
                                <li>Privacy Policy</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h4>Information</h4>
                            <ul>
                                <li>Payment methods</li>
                                <li>Times and shipping costs</li>
                                <li>Product Returns</li>
                                <li>Shipping methods</li>
                                <li>Conformity of the products</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

		</div>
    </footer>
    <!-- Footer Section End -->
   

    <!-- Js Plugins -->
    <script src="/shop/js/jquery-3.3.1.min.js"></script>
    <script src="/shop/js/bootstrap.min.js"></script>
    <script src="/shop/js/jquery.magnific-popup.min.js"></script>
    <script src="/shop/js/jquery.slicknav.js"></script>
    <script src="/shop/js/owl.carousel.min.js"></script>
    <script src="/shop/js/jquery.nice-select.min.js"></script>
    <script src="/shop/js/mixitup.min.js"></script>
    <script src="/shop/js/main.js"></script>

</body>

</html>