<!doctype html>
<style>
    .single-product-item {
        position: relative;
    }

    .favorite-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    .favorite-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: transparent;
        color: #333333;
        border: 2px solid #333333;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .favorite-button:hover {
        background-color: #333333;
        color: #ffffff;
        cursor: pointer;
    }

    .hover-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
    }

    .hover-icon a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .hover-icon a:hover {
        background-color: #ff6600;
        color: #000000;
        cursor: pointer;
    }

    .add-to-cart-button:hover {
        color: #000000;
    }

    .product-buttons {
        display: flex;
    }

    .buy-button {
        background-color: #999999;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 14px;
        border: none;
        border-radius: 3px;
        margin-right: 10px;
        transition: all 0.3s ease;
    }

    .buy-button:hover {
        background-color: #ff6600;
        color: #ffffff;
        cursor: pointer;
    }

    .add-to-cart-button {
        background-color: transparent;
        color: #ff6600;
        padding: 5px 10px;
        font-size: 14px;
        border: 2px solid #ff6600;
        border-radius: 3px;
    }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<html lang="en">
<%- include('../shop/layout/user-header.ejs') %>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="header-item">
                        <img src="shop/img/icons/delivery.png" alt="">
                        <p>Free shipping on orders over $30 in USA</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-lg-center">
                    <div class="header-item">
                        <img src="shop/img/icons/voucher.png" alt="">
                        <p>20% Student Discount</p>
                    </div>
                </div>
                <div class="col-md-4 text-left text-xl-right">
                    <div class="header-item">
                        <img src="shop/img/icons/sales.png" alt="">
                        <p>30% off on dresses. Use code: 30OFF</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    <!-- Page Add Section Begin -->
    <section class="page-add">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="page-breadcrumb">
                        <h2>Dresses<span>.</span></h2>
                        <a href="#">Home</a>
                        <a href="#">Dresses</a>
                        <a class="active" href="#">Night Dresses</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <img src="shop/img/add.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- Page Add Section End -->

    <!-- Categories Page Section Begin -->
    <section class="categories-page spad">
        <div class="container">
            <div class="categories-controls">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="categories-filter">
                            <div class="cf-left">
                                <form action="#">
                                    <select class="sort">
                                        <option value="">Sort by</option>
                                        <option value="">Orders</option>
                                        <option value="">Newest</option>
                                        <option value="">Price</option>
                                    </select>
                                </form>
                            </div>
                            <div class="cf-right">
                                <span>20 Products</span>
                                <a href="#">2</a>
                                <a href="#" class="active">4</a>
                                <a href="#">6</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <% for (var i=0; i < products.length; i++) { %>

                 <% if (products[i].productStatus==true) { %>
                    <% if (i%2==0) { %>
                        <div class=" col-md-3">
                            <div class="single-product-item">
                                <figure>
                                    <img src="/uploads/<%= products[i].productImage %>.jpg" alt="">
                                    <div class="favorite-icon">
                                        <a href="#" class="favorite-button"><i class="far fa-heart"></i></a>
                                    </div>
                                    <div class="hover-icon">
                                        <a href="/uploads/<%= products[i].productImage %>.jpg" class="pop-up"><i class="fas fa-search"></i></a>
                                    </div>
                                </figure>
                                <div class="product-text">
                                    <div class="product-name">
                                        <a href="#">
                                            <h4>
                                                <%= products[i].productName %>
                                            </h4>
                                        </a>
                                        <h6>
                                            <%= products[i].productDescription %>
                                        </h6>
                                    </div>
                                    <h6>
                                        <%= "Rs. " + products[i].productPrice %>
                                    </h6>
                                    <div class="product-buttons">
                                        <a href="#" class="buy-button">Buy Now</a>
                                        <a href="/addToCart/<%= products[i]._id %>" class="add-to-cart-button">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- code for if condition is true -->
                        <% } else { %>
                            <div class="col-md-3">
                                <div class="single-product-item">
                                    <figure>
                                        <img src="/uploads/<%= products[i].productImage %>.jpg" alt="">
                                        <div class="favorite-icon">
                                            <a href="#" class="favorite-button"><i class="far fa-heart"></i></a>
                                        </div>
                                        <div class="hover-icon">
                                            <a href="/uploads/<%= products[i].productImage %>.jpg"  class="pop-up"><i
                                                    class="fas fa-search"></i></a>
                                        </div>
                                    </figure>
                                    <div class="product-text">
                                        <div class="product-name">
                                            <a href="#">
                                                <h4>
                                                    <%= products[i].productName %>
                                                </h4>
                                            </a>
                                            <h6>
                                                <%= products[i].productDescription %>
                                            </h6>
                                        </div>
                                        <h6>
                                            <%= "Rs. " + products[i].productPrice %>
                                        </h6>
                                        <div class="product-buttons">
                                            <a href="#" class="buy-button">Buy Now</a>
                                            <a href="/addToCart/<%= products[i]._id %>" class="add-to-cart-button">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- code for if condition is false -->
                            <% } %>

                 <% } %>
             
                                <% } %>
            </div>

            <div class="more-product">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="#" class="primary-btn">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Page Section End -->

    <!-- Footer Section End -->
    <%- include('../shop/layout/user-footer.ejs') %>
        <!-- Js Plugins -->

        <script>
            // Add event listener to favorite button
            const favoriteButtons = document.querySelectorAll('.favorite-link');
            favoriteButtons.forEach((button) => {
                button.addEventListener('click', toggleFavorite);
            });

            function toggleFavorite(event) {
                event.preventDefault();
                const favoriteButton = event.target;
                const parentDiv = favoriteButton.parentElement.parentElement.parentElement.parentElement;
                parentDiv.classList.toggle('filled');
            }

            // Add event listener to buy button
            const buyButtons = document.querySelectorAll('.buy-button');
            buyButtons.forEach((button) => {
                button.addEventListener('click', buyProduct);
            });

            function buyProduct(event) {
                event.preventDefault();
                // Replace '#' with the actual link to buy the product
                window.location.href = 'shop/buyProduct';
            }

         
        </script>
        <script src="shop/js/jquery-3.3.1.min.js"></script>
        <script src="shop/js/bootstrap.min.js"></script>
        <script src="shop/js/jquery.magnific-popup.min.js"></script>
        <script src="shop/js/jquery.slicknav.js"></script>
        <script src="shop/js/owl.carousel.min.js"></script>
        <script src="shop/js/jquery.nice-select.min.js"></script>
        <script src="shop/js/mixitup.min.js"></script>
        <script src="shop/js/main.js"></script>
        </body>

</html>